--trimwhitespace always
--indent 2
--indentcase true
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--specifierorder public,override

--enable redundantBreak, elseOnSameLine, duplicateImports, emptyBraces, isEmpty,redundantExtensionACL,redundantFileprivate,redundantGet,redundantLet,redundantReturn,todos,trailingCommas

--disable unusedArguments, wrapMultilineStatementBraces

--exclude Pods, Libs, Generated, vendor
